<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GenAI</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block css %}
  {% endblock %}
</head>

<body>
      
      {% for message in messages %}
      <div class="container-fluid p-0 m-0">
        <div class="alert {{ message.tags }} alert-dismissible m-0 text-center" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
         {{ message }}
    
      
        </div>
      </div>
      {% endfor %}
      {% block content %}{% endblock content %}
      </div>
  {% block js %}
  {% endblock js %}

</body>

</html>